.paginator {
    margin: 10px;
}

.pageNumber {
    padding: 2px;
    border: 1px solid grey;
}

.pageNumber.selectedPage {
    font-weight: 700;
    border-color: black;
}
span {
    padding-right: 3px;
}